body {  background-image:linear-gradient(grey,black); 
	color: darkorange;}
	.card1{border-style: solid;
	border-color: #ED820E;
 margin-top: 20px; 
 padding:20px; background-color: #FF8106; color:black;float: center;}
 
.grid-container {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
}
.grid-item{ border-style:solid; border-color:darkorange; }